body{ background-color:#CCCCCC}

h1 {font-size: 40px;
    text-decoration-color: rgb(53, 21, 238);
    text-align: center; background:#CCCCCC
}

p { font-size: 20px;
    text-align: center;
     background:#CCCCCC
}
strong{ color: rgba(0, 0, 255, 0.637)}




