body{ background-color:#CCCCCC}

h1 {font-size: 40px;
    text-decoration-color: mediumslateblue;
    text-align: center; background:#CCCCCC
}

p { font-size: 20px;
    text-align: center;
     background:#CCCCCC
}
strong{ color: rgba(0, 0, 170, 0.637)}




